/* main.js CSS Start */

html::-webkit-scrollbar {
    display: none;
}

.section {
    background-color: #282c34;
}

#main-text, .menu-label {
    color: white;
}

#appName {
    color: yellow;
    font-size: larger;
}

#main-text {
    font-size: smaller;
}

/* main.js CSS End */

/* todos.js CSS Start */

.menu{
    /* margin-left: 5%; */
    margin-right: 69%;
    max-width: fit-content;
    min-height: fit-content;
    max-height: 40px;
}

.menu-list {
    color: white;
}

/* .menu-item-hover-color {
    background-color: yellow;
} */

.menu-item-color {
    color: white;
}

.menu-label-color {
    color: yellowgreen;
}

.head {
    margin-top: 5%;
}

#item {
    font-size: smaller;
}

.flex-container {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    margin-bottom: 84%;
    margin-left: 5%;
    font-size: smaller;
}

/* todos.js CSS End */

/* Sidebar.js CSS Start */

aside {
    margin-left: 15%;
    margin-top: 15%;
    margin-bottom: 15%;
    max-height: fit-content;
}

/* Sidebar.js CSS End */