/* main.js CSS Start */

html::-webkit-scrollbar {
    display: none;
}

.section {
    background-color: #282c34;
}

#main-text, .menu-label {
    color: white;
}

#appName {
    color: yellow;
    font-size: larger;
}

#main-text {
    font-size: smaller;
}

/* main.js CSS End */

/* todos.js CSS Start */

.menu{
    margin-right: 69%;
    min-width: fit-content;
    min-height: 200px;
}

.menu-list {
    color: white;
}

/* .menu-item-hover-color {
    background-color: yellow;
} */

.menu-item-color {
    color: white;
}

.menu-label-color {
    color: yellowgreen;
}

.head {
    margin-top: 0;
}

#item {
    font-size: smaller;
}

/* todos.js CSS End */